
<style>
h1{
	text-align: center;
}
</style>

<h1>Salon Jobs</h1>


 <div class="large-12 columns">
              <div class="row">
     
                <div class="large-4 small-6 columns">
                  <div class="ncsalon"><%= link_to 'See the detail', '/recruit/nc_salon' %>
          
          </div>
     
                  <div class="panel">
                    <h5>NC Salon North York</h5>
                    <h6 class="subheader">Assistant Job</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                  <div class="home">
          
          </div>
     
                  <div class="panel">
                    <h5>Salon Sample</h5>
                    <h6 class="subheader">Assistant Job</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                  <div class="home">
          
          </div>
     
                  <div class="panel">
                    <h5>Salon Sample</h5>
                    <h6 class="subheader">Assistant Job</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                  <div class="home">
          
          </div>
     
                  <div class="panel">
                    <h5>Salon Sample</h5>
                    <h6 class="subheader">Assistant Job</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                  <div class="home">
          
          </div>
     
                  <div class="panel">
                    <h5>Salon Sample</h5>
                    <h6 class="subheader">Assistant Job</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                  <div class="home">
          
          </div>
     
                  <div class="panel">
                    <h5>Salon Sample</h5>
                    <h6 class="subheader">Assistant Job</h6>
                  </div>
                </div>
              </div>


            </div>

             <div class="row">
     
                <div class="large-4 small-6 columns">
                  <div class="home">
          
          </div>
     
                  <div class="panel">
                    <h5>Salon Sample</h5>
                    <h6 class="subheader">Assistant Job</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                  <div class="home">
          
          </div>
     
                  <div class="panel">
                    <h5>Salon Sample</h5>
                    <h6 class="subheader">Assistant Job</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                  <div class="home">
          
          </div>
     
                  <div class="panel">
                    <h5>Salon Name</h5>
                    <h6 class="subheader">Assistant Job</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                  <div class="home">
          
          </div>
     
                  <div class="panel">
                    <h5>Salon Name</h5>
                    <h6 class="subheader">Assistant Job</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                  <div class="home">
          
          </div>
     
                  <div class="panel">
                    <h5>Salon Name</h5>
                    <h6 class="subheader">Assistant Job</h6>
                  </div>
                </div>
     
                <div class="large-4 small-6 columns">
                  <div class="home">
          
          </div>
     
                  <div class="panel">
                    <h5>Salon Name</h5>
                    <h6 class="subheader">Assistant Job</h6>
                  </div>
                </div>
              </div>


            </div>
 </div>