
<style>
h1{
	text-align: center;
}

p {
	color: black;
	
}
</style>

<h1>Salon Jobs</h1>

   <div class="row">
        <div class="large-4 columns">
          <div class="ncsalon"><p><%= link_to 'See the detail', '/recruit/nc_salon' %></p></div>
          <h4>NC Salon at NorsthYork</h4>
          <p>Assistant Job</p><p><%= link_to 'See the detail', '/recruit/nc_salon' %></p>
        </div>
        
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>This is a content section.</h4>
          <p>Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job</p><p><%= link_to 'See the detail', '/recruit/nc_salon' %></p>
        </div>
        
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>This is a content section.</h4>
          <p>Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job</p><p><%= link_to 'See the detail', '/recruit/nc_salon' %></p>
        </div>
      
        </div>
        
 <div class="row">
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>NC Salon at NorsthYork</h4>
          <p>Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job</p>
        </div>
        
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>This is a content section.</h4>
          <p>Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job</p>
        </div>
        
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>This is a content section.</h4>
          <p>Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job</p>
        </div>
      
        </div>

         <div class="row">
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>NC Salon at NorsthYork</h4>
          <p>Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job</p>
        </div>
        
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>This is a content section.</h4>
          <p>Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job</p>
        </div>
        
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>This is a content section.</h4>
          <p>Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job Assistant Job</p>
        </div>
      
        </div>



 