

<div class="row">
	<h1>NC Salon requirement Job Detalis</h1>
	<h3>English page from <%= link_to "Here", "/recruit/nc_salon/en" %></h3	>
		<hr>
		<div class="large-4 columns">
			<div class="ncsalon">

			</div>

		</div>
		<div class="large-8 columns">
		<h3>Job Details</h3>
			<h5>Job DetailsJob DetailsJob DetailsJob DetailsJob DetailsJob DetailsJob DetailsJob DetailsJob DetailsJob DetailsJob DetailsJob DetailsJob DetailsJob DetailsJob DetailsJob DetailsJob DetailsJob DetailsJob DetailsJob Details</h5>
			<i class="fi-social-twitter"></i>
		</div>
	</div>
	<div class="row">
		<hr>
			<div class="large-4 columns">
				<div class="find">

				</div>

			</div>
		<div class="large-8 columns">
			<h3>About NC Salon</h3>
			<h5>About NC Salon About NC SalonAbout NC SalonAbout NC SalonAbout NC SalonAbout NC SalonAbout NC SalonAbout NC SalonAbout NC SalonAbout NC SalonAbout NC SalonAbout NC SalonAbout NC SalonAbout NC SalonAbout NC SalonAbout NC SalonAbout NC SalonAbout NC SalonAbout NC Salon</h5>
				<i class="fi-social-twitter"></i>
			</div>
		</div>
		<div class="row">
			<hr>
			<div class="large-4 columns">
				<div class="home">

				</div>

			</div>
			<div class="large-8 columns">
				<h3>Messages</h3>
			<h5>Messages Messages Messages Messages Messages Messages Messages Messages Messages Messages Messages Messages Messages Messages Messages Messages Messages Messages Messages Messages Messages Messages Messages Messages</h5>
				<i class="fi-social-twitter"></i>

			</div>

		</div>


		<div class="row">
			<hr>
				<div class="large-4 columns">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.7496444269163!2d-79.41540440000001!3d43.77805550000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2d0d9f103873%3A0xe8c564af9b2c2510!2zNTQ5MiBZb25nZSBTdCwgTm9ydGggWW9yaywgT04gTTJOIDdMMyDjgqvjg4rjg4A!5e0!3m2!1sja!2sjp!4v1424809361941" width="250" height="200" frameborder="0" style="border:0"></iframe>

				</div>
			<div class="large-8 columns">
				<h3>Location</h3>
				<h5>Location Location Location Location Location Location Location Location Location Location Location Location</h5>
				


					<i class="fi-social-twitter"></i>
				</div>

			</div>

			 <hr/>

     <div class="row">
        <div class="large-8 columns">
         <h3>Contact Me</h3>



          <div class="large-12 columns">

            <p>Email: seiun340066@gmail.com</p>

          </div>