
<style>
#details p {
	color: red
}
</style>

<div class="row">
	<h3>NC Salon requirement Job Detalis</h3>
	<h3>Japanese page from <%= link_to "Here", "/recruit/nc_salon" %></h3	>
		<hr>
		<div class="large-4 columns">
			<div class="ncsalon">

			</div>

		</div>
		<div class="large-8 columns">
		<h4>Job Details</h4>
		<div id="details">
		<p>現在、アシスタントを急募しています！！
		時給 0カナダドル～10カナダドル。スタイリストは３ヶ月間日給、それ以降は歩合制（売り上げの４０％）</p>
		</div>

			<p>・やる気と元気がある方
・チームワークを大切にできて一緒にお店を盛り上げてくれる方
・英語で接客ができる、または英語の勉強をして努力を怠らない方
・素直に「ありがとう」や「ごめんなさい」が言える方
・お客様を第一に考え、最高のおもてなしができる方
・新しい環境で本気で自分に挑戦したい方

</p><p>スタイリストの方は５年以上のカット経験がある方。
、アシスタントの方は何でも進んで仕事ができて努力を怠らない方、ワークビザ希望の方は、ディレクター・店長レベルでスタッフ教育などができる方対象です。雇用形態はワーキングホリデー。勤務は、シフト制です。（要相談） </p>
			<i class="fi-social-twitter"></i>
		</div>
	</div>
	<div class="row">
		<hr>
			<div class="large-4 columns">
				<div class="nc_about">

				</div>

			</div>
		<div class="large-8 columns">
			<h4>About NC Salon</h4>
			<p>高級感のあるコンセプトの美容室スタッフは中国系カナダ人と日本人で　サービスや使用しているプロダクトは日本にある美容室をベースにしています。丁寧な接客やサービスがとても好評でこの度、ダウンタウンに店舗を拡大することになりました。お客様は　アジア系、白人系、中東系と多国籍です。</p> <%= link_to "NC Salon Web Page", 'http://ncsalon.ca/' %>
				<i class="fi-social-twitter"></i>
			</div>
		</div>
		<div class="row">
			<hr>
			<div class="large-4 columns">
				<div class="nc_message">

				</div>

			</div>
			<div class="large-8 columns">
				<h4>Messages</h4>
			<p>お客様ひとりひとりに真剣に向き合って、その方のキレイをカタチにするお仕事です。白人系、中東系、アジア系など国際色豊かなので、いろいろな勉強ができます。コンペティションやヘアーショーなどにも精力的に参加していますので、挑戦したい方は是非！</p>
				<i class="fi-social-twitter"></i>

			</div>

		</div>


		<div class="row">
			<hr>
				<div class="large-4 columns">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.7496444269163!2d-79.41540440000001!3d43.77805550000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2d0d9f103873%3A0xe8c564af9b2c2510!2zNTQ5MiBZb25nZSBTdCwgTm9ydGggWW9yaywgT04gTTJOIDdMMyDjgqvjg4rjg4A!5e0!3m2!1sja!2sjp!4v1424809361941" width="250" height="200" frameborder="0" style="border:0"></iframe>

				</div>
			<div class="large-8 columns">
				<h4>Location</h4>
				<p>フィンチステーションからすぐ。5492 Yonge St. North York, ON M2N7L3</p>
				


					<i class="fi-social-twitter"></i>
				</div>

			</div>

			 <hr/>

     <div class="row">
        <div class="large-8 columns">
         <h4>Contact Me</h4>



          <div class="large-12 columns">

            <p>Email: seiun340066@gmail.com</p>

          </div>