<div class="panel" id="header_panel">
			<h3 id="map_title">登録してるプロフェッショナルは、こんなスキルを持ってます！</h3>
			<p>写真をクリックすると、担当された方のプロフィールページに移動します。</p>
</div>

<% @search.pictures.each do |picture| %>

<% if picture.source == nil  %>
	<%= link_to (image_tag picture.picture_url(:medium)), hairdresser_path(picture.hairdresser), :class=>"hairdresser" %>
<% else %>
<div class="tempbox"><%= link_to (image_tag picture.source), hairdresser_path(picture.hairdresser), :class=>"hairdresser" %></div>
<% end %>

<% end %>

