<div class="row mainbody">
<ul class="profile_pictures">
	<% if @search.search_type == "Hairdressers" %>
		<%= render @search.hairdressers %>
	<% end %>

	<% if @search.search_type == "Pictures" %>
		<%= render "picture_results" %>
	<% end %>
</ul>

</div>