

<div class="row">
		<div class="panel" id="header_panel">
			<h3 id="map_title">Find your nearest available hairdresser</h3>
		<%= content_tag "div", "", id: 'map-canvas', data: { coords: @coords } %>
		</div>
</div>

<div class="row mainbody">
	<ul class="profile_pictures">
		<% if @search.search_type == "Hairdressers" %>
			<%= render @search.hairdressers %>
		<% end %>

		<% if @search.search_type == "Pictures" %>
			<%= render "picture_results" %>
		<% end %>
	</ul>
</div>

