

<div id="welcome">
    <img src="http://pagepink.com/wp-content/uploads/2014/06/Dusol-Beauty-Hair-Salon-Korean-Hair-Stylist1.jpg"><br/>
    
  <span style="position: relative; top: 100px; right: 150px; width: 100px;">
    
  </span>
</div>



<div class="raw">
<%= render "searches/new_search" %>


      <%= render "categories/about_us" %>
      <h1>カテゴリーから、写真をチェック！</h1>
    <ul class="small-block-grid-3">
      <% @categories.each do |category| %>
       <%= render partial: "categories/category", locals: {category: category} %>
      <% end %>
    </ul>
</div>




