


<ul class="profile_pictures">
	<% if @search.search_type == "Hairdressers" %>
		<h1>Search Results - Hairdressers</h1>
		<%= render @search.hairdressers %>
	<% end %>

	<% if @search.search_type == "Pictures" %>
		<h1>Search Results - Pictures</h1>
		<%= render @search.pictures %>
	<% end %>
</ul>

</div>
<div class="row">
<div class="panel">
	<div class="panel" id="header_panel">
		<h3 id="map_title">Find your nearest available hairdresser</h3>
	</div>
	<%= content_tag "div", "", id: 'map-canvas', data: { coords: @coords } %>
<!-- </div> -->
</div>
</div>


