
<style>
h1{
	text-align: center;
}

p {
	color: black;
	
}
</style>

<h1>They are Looking for a Job</h1>

   <div class="row">
        <div class="large-4 columns">
          <div class="akari_pro"><p></p></div>
          <h4>Akari Matsumoto</h4>
          <p>As a stylist/assistant</p><p><%= link_to 'See the detail', 'hairdressers/6' %></p>
        </div>
        
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>This is a content section.</h4>
          <p></p><p><%= link_to 'See the detail', '/recruit/nc_salon' %></p>
        </div>
        
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>This is a content section.</h4>
          <p></p><p><%= link_to 'See the detail', '/recruit/nc_salon' %></p>
        </div>
      
        </div>
        
 <div class="row">
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>NC Salon at NorsthYork</h4>
          <p></p>
        </div>
        
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>This is a content section.</h4>
          <p></p>
        </div>
        
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>This is a content section.</h4>
          <p></p>
        </div>
      
        </div>

         <div class="row">
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>NC Salon at NorsthYork</h4>
          <p></p>
        </div>
        
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>This is a content section.</h4>
          <p></p>
        </div>
        
        <div class="large-4 columns">
          <div class="home"></div>
          <h4>This is a content section.</h4>
          <p></p>
        </div>
      
        </div>



 