<div class="row">
  <h3>About service</h3>
        <hr>
        <div class="large-8 columns">
          <h3>日本人美容師さんってどこにいるの？</h3>
          <h5>海外在住日本人の大きな悩み。「どこで日本人の美容師さんにカットして貰えるんだろう...。」そんな悩みを解決します！トロントで働いてる日本人美容師さんが一覧できます。近くの美容師さんを探してみましょう！</h5>
          <i class="fi-social-twitter"></i>
        </div>
        <div class="large-4 columns">
        <div class="about">
          
          </div>
        
        </div>
      </div>
      <div class="row">
        <hr>
        <div class="large-8 columns">
          <h3>お気に入りの髪型をクリック！</h3>
          <h5>切って貰ってから「ああ,
          失敗した〜泣」って経験ありませんか？切ってしまってからは遅いですよね。予約する前に、美容師さんが過去にカットした写真を見て、スキルをチェック！そんな不安を無くしましょう！</h5>
          <i class="fi-social-twitter"></i>
        </div>
       <div class="large-4 columns">
        <div class="find">
          
          </div>
        
        </div>
      </div>
  <div class="row">
        <hr>
        <div class="large-8 columns">
          <h3>出張ネイルでお手頃価格に！</h3>
          <h5>「サロンでネイルしてもらうと高いしな〜汗」って、諦めていませんか？家でネイルして貰う出張サービスだと、かなりお手頃価格になるんです！ネイリストさんによっては、<strong>サロン価格の半額</strong>なんて方もいます。</br><strong>プロフィールから</strong>出張ネイルの値段を見てみましょう！</br>＊値段が書いていないネイリストさんは出張を受け付けておりません。
          </h5>
          <i class="fi-social-twitter"></i>
        </div>
      <div class="large-4 columns">
        <div class="home">
          
          </div>
        
        </div>

      </div>


            <div class="row">
        <hr>
        <div class="large-8 columns">
          <h3>About</h3>
          <h5>このサービスは、トロント留学中の大学生がトロントで友達になった美容師さんや友人の悩みを元に作成しました。作成にあたって沢山の意見を下さった皆さん、本当にありがとうございます。</h5>
          <p>このサイトが出来るまでを綴った開発BLOGは,
          "togurinblog.com"から!</p>
         

          <i class="fi-social-twitter"></i>
        </div>
        <div class="large-4 columns">
        <div class="thanks">
          
          </div>
        
        </div>
        
      </div>
      <hr/>

     <div class="row">
        <div class="large-8 columns">
         <h3>Contact Me</h3>



          <div class="large-12 columns">

            <p>Email: seiun340066@gmail.com</p>

          </div>