Do you accept this request?



<%= form_for @inquiry, :url => inquiry_accept_thanks_path do |f| %>
  <h1>Welcome!! <%= @inquiry.name %></h1>
  <%= f.submit 'Accept', class: 'btn btn-primary' %>
<% end %>