/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

@import "foundation/components/panels";


 .profile_pictures {
  float: left;
  margin: 10px;
  display: inline;

 }

.row h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 10px;
  font-size: 300%;
}

.row h1 {
   font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 10px;
  font-size: 300%; 
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}
.image h2 { 
   position: absolute; 
   top: 245px; 
   left: -1px; 
   width: 100%; 
}
.image h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

body {
    background-image: url("triangular.png");
    background-repeat: repeat;
}
.row {
  background-color:rgba(255,255,255,0.9);
  padding-left: 20px;
  padding-right: 20px;
}


div.image {
  border: 2px solid #ccc;
  }

div.image:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }

.profile h1{
  text-align: left;
  padding-left: 20px;
  background-color: #333333;
  color: white;
  padding-top: 10px;
}
.profile h2{
  text-align: left;
  font-size: 200%;
}


#panel2 {
  width:100%;
  border: 2px solid #ccc;
}
.accordion {
  margin-top: 10px;
  padding: 0rem;
  margin-left: -1px;
}


 .box {
  
    margin: 5px;
    font-weight: bold;
    float: left;
    display: inline;

  }

.box{
  text-align: center;
 }


// Geocode

#print {
 text-align: center;
 font-family: 'Josefin Sans', sans-serif;
}

table {
 width: 220px;
 height: 250px;
  
}


#map-canvas {
 height: 500px;
 width: 700px;
 margin: 0 auto 0 auto;
}

#map_title {
 text-align: center;
 font-family: 'Josefin Sans', sans-serif;
}

.container{
 margin: 0 auto 0 auto;
}

.panel {
 margin: 25px;
 @include panel(
   $bg:#ECEFF1,
   $adjust:true
   );
}

#header_panel {
 padding: 10px;
 /*background-color: black;
 width: 100%;
 float: left;*/
}
.tabs dd > a {
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
    border-width: 1px;
    background: #FFFFFF;
     outline: 0;
}
.tabs dd.active > a {
  color: white;
      background: #008cba;
      border: none;

}

