#date-with-stylesheet-inline__1i {
  display: inline-block;
  width: auto;
}

#date-with-stylesheet-inline__2i {
  display: inline-block;
  width: auto;
}

#date-with-stylesheet-inline__3i {
  display: inline-block;
  width: auto;

}