<div class="page-header">
  <h1>Customer request was accepted!</h1>
  <p>This notice goes to Admin, please send email to <a href="mailto:seiun340066@gmail.com?subject=Confirmation email to Admin&body=ex) I am OK !!">"Admin" from this link</a> after you arrived the house. 
  This is for checking your safety. If you do not answer after 30 minutes from booking time, admin will send you a email in order to check the safety.</p>
</div>

<style>
	.page-header a {
	background-color: red;
}
</style>