<div class="row mainbody">
<div class="page-header">
  
  <p>キャンセルの旨が通知されました。</p>
  <p>キャンセルのご理由を管理者まで<a href="mailto:seiun340066@gmail.com?subject=Safety confirmation&body= Ex) I am OK!!">こちら</a>からご連絡ください。</p>
</div>
</div>