<div class="page-header">
  <h1>Customer request was Accepted!</h1>
</div>

<p>After you arrived at customer house, please send email from <a href="mailto:seiun340066@gmail.com?subject=Safety confirmation&body= Ex) I am OK!!">HERE</a></p>

<style>
	#page-header a {
		background-color: red;
	}