<div class="row mainbody">
<div class="page-header">
  <h1>お客さんに受理のメールが送信されました!</h1>
</div>
<div class="row mainbody">
<p>到着後は、安否確認のため<a href="mailto:seiun340066@gmail.com?subject=Safety confirmation&body= Ex) I am OK!!">こちら</a>にご連絡ください。</p>
</div>
</div>