<h1>Let`s find specialist!</h1>
<!-- <h4>Let`s find specialist!</h4> -->
<ul class="small-block-grid-4">
	<li>
		<table>
	  	<tr>
	    	<th><a>髪型を写真から選択</a><br/></th>
	  	</tr>
	  	<tr>				  
	    	<td>
	    		<div class="box">
	    			<img class="xicon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCaGfcUBe58KLUaxXZy_xF8AK2CtJ6ehL9jHpWsGxFDQc50rbC"/>
	    		</div>
	    	</td>
	  	</tr>
	  	<tr>
	    	<td><p>好きな髪型を美容師さんが過去に切った写真から探してみよう！</p></td>		
	  	</tr>	
	  </table>
	</li>		
	<li>
		<table>
		  <tr>
		    <th><a>予約をして美容師さんに家に来てもらおう。</a><br/></th>
		  </tr>
		  <tr>				  
		    <td>
		    	<div class="box">
		    		<img class="xicon" src="https://www.flipgive.com/assets/merchants/how-it-works/page/how-it-works-2-eb53b8af95cb727f2893fda7ce9d879d.jpg"/> 
		    	</div>
		    </td>
		  </tr>
		  <tr>
		    <td><p>お気に入りの美容師さんのプロフィールから空いている日程を見つけて、予約してみよう。</p></td>		
		  </tr>	
		</table>
	</li>	
	<li>
		<table>
		  <tr>
		    <th><a>お得なサービス！</a><br/></th>
		  </tr>
		  <tr>				  
		    <td>
		    	<div class="box">
		    		<img class="xicon" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTmFJbxxcvrr5OPveyGomR-ygJsot1nnSHDQ4-MbiiMlhUrRpX7"/>
		    	</div>
		    </td>
		  </tr>
		  <tr>
		    <td><p>直接家に来てもらえば、お店で切るよりも安くなります。</p></td>		
		  </tr>	
		</table>
	</li>
	<li>
		<table>
		  <tr>
		    <th><a>安心の、美容師さんは全員日本人です。</a><br/></th>
		  </tr>
		  <tr>				  
		    <td>
		    	<div class="box">
		    		<img class="xicon" src="http://up.gc-img.net/post_img_web/2014/07/1ebb9efa5d1368aecf123ad7c2c77f5e_11700.jpeg"/>
		    	</div>
		    </td>
		  </tr>
		  <tr>
		    <td><p>もう、どこに日本人美容師さんがいるのか迷わなくて済みます。また、カットの意思疎通で悩む事も減ります。</p></td>		
		  </tr>	
		</table>
	</li>
</ul>




