<h1>About our services</h1>
<h4>Find specialist from beauty various hairstyles</h4>
<ul class="small-block-grid-4">
	<li>
		<table>
	  	<tr>
	    	<th><a>Variety hairstyle pictures</a><br/></th>
	  	</tr>
	  	<tr>				  
	    	<td>
	    		<div class="box">
	    			<img class="xicon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCaGfcUBe58KLUaxXZy_xF8AK2CtJ6ehL9jHpWsGxFDQc50rbC"/>
	    		</div>
	    	</td>
	  	</tr>
	  	<tr>
	    	<td><a>About</a><p>Customer can find favorite hairstyle and check and book who made that hairstyle. </p></td>		
	  	</tr>	
	  </table>
	</li>		
	<li>
		<table>
		  <tr>
		    <th><a>Direct Calling System</a><br/></th>
		  </tr>
		  <tr>				  
		    <td>
		    	<div class="box">
		    		<img class="xicon" src="https://www.flipgive.com/assets/merchants/how-it-works/page/how-it-works-2-eb53b8af95cb727f2893fda7ce9d879d.jpg"/> 
		    	</div>
		    </td>
		  </tr>
		  <tr>
		    <td><a>About</a><p>Customer can call hairdressers near your office or home and take a service after 6pm. </p></td>		
		  </tr>	
		</table>
	</li>	
	<li>
		<table>
		  <tr>
		    <th><a>Find Hair Salons</a><br/></th>
		  </tr>
		  <tr>				  
		    <td>
		    	<div class="box">
		    		<img class="xicon" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTmFJbxxcvrr5OPveyGomR-ygJsot1nnSHDQ4-MbiiMlhUrRpX7"/>
		    	</div>
		    </td>
		  </tr>
		  <tr>
		    <td><a>About</a><p>You can find Hairsalons which your favorite hairstylist are working.</p></td>		
		  </tr>	
		</table>
	</li>
	<li>
		<table>
		  <tr>
		    <th><a>Japanese working holiday</a><br/></th>
		  </tr>
		  <tr>				  
		    <td>
		    	<div class="box">
		    		<img class="xicon" src="http://up.gc-img.net/post_img_web/2014/07/1ebb9efa5d1368aecf123ad7c2c77f5e_11700.jpeg"/>
		    	</div>
		    </td>
		  </tr>
		  <tr>
		    <td><a>About</a><p>Every stylist is Japanese working holiday students. They have a great experience as a hair dresser in Japan.</p></td>		
		  </tr>	
		</table>
	</li>
</ul>