<h1>Categories <small></h1>
<div id="categories">

<ul class="small-block-grid-3">

  <%= render @categories %>

</ul>
</div>



<!-- outputs several pagination links such as « First ‹ Prev ... 2 3 4 5 6 7 8 9 10 ... Next › Last » -->