<h1><%= @category.name %></h1>
<div id="categories">

<ul class="small-block-grid-4">
<% @pictures_category.each do |picture| %>
	 <li><a href='/pictures/<%= picture.id %>'> <%= image_tag picture.source %></a></li> 
<% end %>

</ul>
