
<style>
h1{
	text-align: center;
}
</style>

<h1><%= @category.name %></h1>
<div id="categories">

	<ul class="small-block-grid-8">

		<% @pictures_category.each do |picture| %>
			<% if picture.hairdresser.available == true %>
			<% if picture.source != nil %>
				<li><%= link_to image_tag(picture.source),  hairdresser_path(picture.hairdresser) %></li> 
			<% else %>
				<li><%= link_to image_tag(picture.picture_url(:medium)), hairdresser_path(picture.hairdresser) %></li> 
			<% end %>
			<% end %>

		<% end %>
	</ul>
</div>