<% if review.id.present? %>
	<div class="review">
		<% if review.user != nil %>
			<em> <%= review.user.first_name %>さんの投稿</em>
			<!-- Added on: <%= review.created_at %> -->
		<% end %>
	</div>
	
	<div>
		<p class="comment">
			<%= review.comment %>	
		</p>
	</div>

	
	 	
	 
	
<% end %>
