<div class='nested-fields'> 
	
	  <%= f.input_field :appointment_at, as: :time, :style => "width: 40px;" %> 
	  
	  <%= link_to_remove_association "-", f,  :class => "tiny button alert radius"%></a>
		
</div>
