<h1>They are available after today`s 6PM!</h1>
<h2>You can make an appoinment at their profile page.</h2>

<% if current_hairdresser %>
	<h2>Hi <%= current_hairdresser.first_name %></h2>
	<p>Please change your status</p> 
<% end %>

<img src="http://imgbp.hotp.jp/CSP/IMG_SRC/66/39/B006286639/B006286639_154-205.jpg" alt=""><br/>
<input class="checkbox-child" type="checkbox" value="child1"> Available now!<br/>
<input class="checkbox-child" type="checkbox" value="child2"> Now I am Working.<br/>
<input class="checkbox-child" type="checkbox" value="child3"> Today is not available.

